<html ng-app="e3App">
    <head>
        <title>Nintendo E3</title>
        <meta content="">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="static/src/libs/github/angular/bower-angular@1.6.4/angular-csp.css">
        <link rel="stylesheet" href="static/src/theme/default/style.css">
        <link rel="stylesheet" href="static/src/components/media/player.css">
    </head>
    <body ng-controller="e3Ctrl">
        <div id="unmuted">🔇 Sin sonido</div>

        <section class="header">
            <div class="logo"></div>
        </section>
        <div class="full-content" ng-cloak>
            <section class="content">
                <div class="flex-row">
                    <div class="info">
                        <div class="info-content">
                            <div id="countdown">
                                <span ng-if="eventDatetime - dtTime > 86400000" class="has-days">

                                    <timer interval="1000" end-time="scope.eventDatetime">
                                        <span class="date">{{days|numberFixedLen:2}} días</span>

                                        <span class="time">{{hours|numberFixedLen:2}}:{{minutes|numberFixedLen:2}}:{{seconds|numberFixedLen:2}}</span>
                                    </timer>
                                    <span class="dot">.</span>
                                    <span class="millis">{{ millis|numberFixedLen:3 }}</span>
                                </span>
                                <span ng-if="eventDatetime - dtTime < 86400000 && eventDatetime > dtTime">
                                    <timer interval="1000" end-time="scope.eventDatetime">
                                        {{hours|numberFixedLen:2}}:{{minutes|numberFixedLen:2}}:{{seconds|numberFixedLen:2}}
                                    </timer>
                                    <span class="dot">.</span>
                                    <span class="millis">{{ millis|numberFixedLen:3 }}</span>
                                </span>
                                <span ng-if="eventDatetime < dtTime">
                                    ¡Allá vamos!
                                </span>
                            </div>
                            <p class="title" ng-if="eventDatetime - dtTime > 86400000">
                                El evento comenzará el día 11 de junio
                            </p>
                            <p class="title" ng-if="eventDatetime - dtTime < 86400000">
                                El evento comenzará a las 18:00
                            </p>
                            <p>
                                <span ng-if="eventDatetime - dtTime > 86400000">a las 18:00 (6 de la tarde) </span>
                                <span ng-if="eventDatetime - dtTime < 86400000">del día 11 de junio de 2019 </span>
                                hora peninsular (España), y actualmente, son las
                                <span class="dt">{{dt | amDateFormat:' HH:mm:ss'}}</span>.
                                Además, son las
                                <span class="dt">{{dt | amUtcOffset:'-0700' | amDateFormat:' HH:mm:ss'}}</span>
                                en Los Ángeles (California, EEUU), lugar del evento.
                                Mientras, son las
                                <span class="dt">{{dt | amUtcOffset:'+0900' | amDateFormat:' HH:mm:ss'}}</span>
                                en Tokio (Japón).
                            </p>
                        </div>
                    </div>
                    <div>
                        <div id="mario"></div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-controller="mediaCtrl" ng-class="{'fullscreen': scope.fullscreen}">
            <videogular vg-player-ready="scope.onPlayerReady($API)" vg-auto-play="true" class="video"
                        vg-complete="scope.onCompleteVideo()">
                <vg-media vg-src="config.sources" vg-native-controls="true">
                </vg-media>
            </videogular>

            <div ng-controller="timeleftCtrl">
                <videogular vg-player-ready="onPlayerReady($API)"
                            vg-complete="onCompleteAudio()">
                    <vg-media vg-src="config.sources" vg-native-controls="true">
                    </vg-media>
                </videogular>
            </div>
        </div>

        <script src="static/src/libs/system.js"></script>
        <script src="static/src/libs/npm/moment@2.18.1/moment.js"></script>
        <script src="static/config.js"></script>
        <script>
            SystemJS.import('src/app.module');
        </script>
    </body>
</html>